<div class="fondo">
  <div class="row row-cols-4 row-cols-md-4">
 
<div *ngFor=" let hero of ArrayHeroes">

  
  <app-cards [HeroInput]="hero"></app-cards>
</div>

</div>



  <span class="col-12 justify-center align-items-center">

    <ul class="pagination pg-dark">
      <li class="page-item">
        <a class="page-link" aria-label="Previous" (click)="paginacionLeft()">
          <span aria-hidden="true">
            < </span>
        </a>
      </li>

      <li class="page-item active">
        <a class="page-link">{{ indicePaginacion }}</a>
      </li>

      <li class="page-item">
        <a class="page-link" aria-label="Next " (click)="paginacionRight()">
          <span aria-hidden="true">></span>
        </a>
      </li>
    </ul>

  </span>
</div>