<div class="input-group flex-nowrap col-8 mt-5">
    <div class="input-group-prepend">
      <span class="input-group-text bg-primary text-light">Ingresa un nombre</span>
    </div>
    <input  type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="addon-wrapping">
  </div>

  <div class="col-12 ">

    <div class="spinner-grow" role="status" *ngIf="loading">
      <span class="sr-only" *ngIf="!loading" class="fadeIn">Loading...</span>
    </div>

    <div class="justify-center">
<app-cards></app-cards>
    </div>
                
</div>